.formSign {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.labelForm {
  margin-bottom: 5px;
  margin-right: 5px;
}
.inputs {
  width: 100%;
  border-radius: 4px;
  height: 20px;
}
.selectForm {
  width: 50%;
}

select {
  width: 100%;
}
.textareaForm {
  width: 100%;
}
.textareaContainer {
  width: 100%;
}
.ErrorInput {
  background-color: rgba(231, 68, 68, 0.781);
  width: 170px;
  text-align: center;
  padding: 3px;
  border: solid red 2px;
  margin-top: 5px;
  border-radius: 5px;
}
