.formSign {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 50%;
}

.labelForm {
  margin-bottom: 5px;
  margin-right: 5px;
}
.inputs {
  width: 100%;
  border-radius: 4px;
  height: 20px;
}

select {
  width: 100%;
}
.textareaForm {
  width: 100%;
}
.textareaContainer {
  width: 100%;
}
.ErrorInput {
  background-color: rgba(231, 68, 68, 0.781);
  width: 170px;
  text-align: center;
  padding: 3px;
  border: solid red 2px;
  margin-top: 5px;
  border-radius: 5px;
}
.inputContainer {
  width: 100%;
}
.GoUp {
  background-color: gray;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
}
.scrollbar {
  height: 1220px;
}
